In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
lst = [1,2,3,4,5,6]


%timeit [i**2 for i in lst]

2.22 µs ± 515 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [2]:
import numpy as np


arr = np.array([lst])
arr

array([[1, 2, 3, 4, 5, 6]])

In [3]:
%timeit arr**2

816 ns ± 287 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [4]:
array1 = np.random.randint(low = 10, high = 100, size = (5,5))
array1

array([[74, 36, 99, 52, 15],
       [88, 83, 41, 34, 38],
       [40, 72, 92, 18, 89],
       [47, 36, 80, 89, 81],
       [48, 37, 14, 77, 58]])

In [5]:
import pandas as pd


df = pd.DataFrame(data = array1)
df

    0   1   2   3   4
0  74  36  99  52  15
1  88  83  41  34  38
2  40  72  92  18  89
3  47  36  80  89  81
4  48  37  14  77  58